h2 {
    color: #006400; 
    font-weight: bold;
}

.table thead th {
    color: #307032;
    font-weight: bold;
}

.container-custom {
    max-width: 1350px; 
}

.text-success {
    color: #10571f !important; 
}

.form-control-plaintext {
    margin-bottom: 0;
}

.col-form-label {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-right: 10px;
}
