<div class="container container-custom mt-3">
    <h2>Darba stundu saraksts</h2>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Gads</th>
          <th>Mēnesis</th>
          <th>Darba stundas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hours of hoursInMonth">
          <td>{{ hours.idHoursInMonth }}</td>
          <td>{{ hours.year }}</td>
          <td>{{ getMonthName(hours.month) }}</td>
          <td>{{ hours.hoursInMonth }}</td>
          <td>
            <button class="btn btn-outline-success me-2" (click)="navigateToUpdate(hours)">Labot</button>
            <button class="btn btn-outline-danger" (click)="confirmDelete(hours)">Dzēst</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-outline-dark" (click)="navigateToCreate()">Pievienot</button>

    <div class="mt-3">
      <h4>Apskatīt darba stundas citam gadam:</h4>
      <form class="row g-3 align-items-center" (ngSubmit)="onSubmit()">
        <div class="col-auto">
          <label for="yearInput" class="col-form-label">Gads:</label>
        </div>
        <div class="col-auto">
          <input type="number" id="yearInput" class="form-control" [(ngModel)]="inputYear" name="year" required>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-primary">Skatīt</button>
        </div>
      </form>
    </div>
    
  </div>
  