 h2 {
    color: #006400; 
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}

.container {
    max-width: 600px;
}

.form-horizontal .row {
    margin-left: 0;
    margin-right: 0;
    justify-content: flex-start;
}

.form-control {
    max-width: 100px;
}

.col-form-label {
    text-align: left;
}
