<div class="container container-custom mt-3">
    <h2>Darbinieku saraksts</h2>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Vārds</th>
          <th>Uzvārds</th>
          <th>Amats</th>
          <th>Ir ievēlēts</th>
          <th>Darba līgums un datums</th>
          <th>Nodaļa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.idEmployee }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.surname }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.elected ? 'Jā' : 'Nē' }}</td>
          <td>{{ employee.workContractNoDate }}</td>
          <td>{{ employee.departmentName }}</td>
          
          <td>
            <button class="btn btn-outline-success me-2" (click)="navigateToUpdate(employee)">Labot</button>
            <button class="btn btn-outline-danger" (click)="confirmDelete(employee)">Dzēst</button>
          </td>
        </tr>
      </tbody>
    </table>
      <button class="btn btn-outline-dark" (click)="navigateToCreate()">Pievienot</button>
    
  </div>
  