/* Styles for view-all-employees.component.css */
/* Dark green and bold for 'Darbinieku saraksts' */
h2 {
    color: #006400; 
    font-weight: bold;
}

/* Green and bold for table headers */
.table thead th {
    color: #307032;
    font-weight: bold;
}
