<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<title>Choosing specific finance source and time period</title>
</head>
<body class="d-flex flex-column min-vh-100">
	<div class="bg-primary bg-primary text-dark bg-opacity-25 mb-4 py-4">
		<div class="container">
			<div class="row">
				<header class="col-md-12">
					<div style="text-align: center; font-size: 70px; font-weight: bold">DLUT</div>
					<div class="container-fluid text-center"></div>
				</header>
			</div>
		</div>
	</div>
	<nav
		class="navbar navbar-expand-lg navbar-light bg-primary text-dark bg-opacity-25">

		<div class="container-fluid">
			<a class="navbar-brand" href="/dlut">Sākums</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						href="/dlut/tabele/ievadit/darba-stundas">Ievadīt darba
							stundas mēnesim</a></li>
					<li class="nav-item"><a class="nav-link active"
						href="/dlut/tabele/eksportet/finansejuma-avots/izvele">Tabeļu
							eksportēšana finansējuma avotam</a></li>
					<li class="nav-item"><a class="nav-link active"
						href="/dlut/tabele/eksportet/darbinieks/izvele">Tabeļu
							eksportēšana darbiniekam</a></li>
					<li class="nav-item"><a class="nav-link active"
						href="/dlut/tabele/eksportet/darbinieks-finansejuma-avots/izvele">Tabeļu
							eksportēšana darbiniekam un finansējuma avotam</a></li>
					<li class="nav-item"><a class="nav-link disabled">Izrakstīties</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<form action="#"
		th:action="@{/dlut/tabele/eksportet/finansejuma-avots/izvele}"
		method="post">
		<th:block>
			<div class="container">
				<div class="d-grid gap-3">



					<div class="p-2 bg-light border">
						<div class="form-group">
							<label for="year">Izvēlēties gadu</label> <select
								class="form-control selectpicker" name="year">
								<option value="">Gads</option>
								<option th:each="yTemp : ${years}" th:value="${yTemp}"
									th:text="${yTemp}"></option>

							</select>
						</div>
					</div>

					<div class="p-2 bg-light border">
						<div class="form-group">
							<label for="month">Izvēlēties mēnesi</label> <select
								class="form-control selectpicker" name="month">
								<option value="">Mēnesis</option>
								<option th:value="1" th:text="Janvāris"></option>
								<option th:value="2" th:text="Februāris"></option>
								<option th:value="3" th:text="Marts"></option>
								<option th:value="4" th:text="Aprīlis"></option>
								<option th:value="5" th:text="Maijs"></option>
								<option th:value="6" th:text="Jūnijs"></option>
								<option th:value="7" th:text="Jūlijs"></option>
								<option th:value="8" th:text="Augusts"></option>
								<option th:value="9" th:text="Septembris"></option>
								<option th:value="10" th:text="Oktobris"></option>
								<option th:value="11" th:text="Novembris"></option>
								<option th:value="12" th:text="Decembris"></option>

							</select>
						</div>
					</div>

					<div class="p-2 bg-light border">
						<div class="form-group">
							<label for="finSource">Izvēlēties finansējuma avotu (lai
								izveidotu tabeli konkrētam finasējuma avotam)</label> <select
								class="form-control selectpicker" name="finSource">
								<option selected>Finansējuma avots</option>
								<option th:each="fsTemp : ${finSources}"
									th:value="${fsTemp.getIdFinSource()}"
									th:text="${fsTemp instanceof T(eu.virac.dlut.models.Project)} ? ${fsTemp.getAccountingAcronym() + ' ' + fsTemp.getTitle()} : ${fsTemp.getTitle()}">
								</option>
							</select>
						</div>
					</div>

					<div class="container">
						<div class="d-grid gap-3">
							<div class="row">
								<div class="col"></div>
								<div class="col"></div>
								<div class="col"></div>
								<div class="col">
									<button class="btn btn-primary btn-lg" type="submit">Izveidot</button>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>

			<th:block>
	</form>
	<div class="wrapper flex-grow-1"></div>
	<div class="bg-primary text-dark bg-opacity-25 py-4 mt-4">
		<div class="container">
			<div class="row">
				<footer class="mt-auto col-md-12">
					<div style="text-align: center">VSRC 2021</div>
				</footer>
			</div>
		</div>
	</div>
</body>
</html>